body{
  
}
.form{
    display: flex;
    border: 2px solid black;
    width: 30%;
    height: 100%;
    background-color: aqua;
    color: black;
    padding: 1rem 2rem 8rem 2rem;
     margin-left: 30%; 
     margin-top: 10%;
   

}