

body{
    background-color: white;
    height: 100vw;
    color: black;
    font-family: 'Poppins', sans-serif;;
    background: repeating-linear-gradient(
  45deg,
  #f9f9f9,
  #f9f9f9 10px,
  #e0e0e0 10px,
  #e0e0e0 20px
);
}


.container{
  padding: 1rem 2rem;
  background-color: white;
  border: 2px solid white;
  color: black;
  
  border-radius: 5rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 1;

}
.links{
  display: flex;
  justify-content: flex-end;
}
.links a {
  padding-left: 70px;
   font-size: 1rem;
   font-weight: 300;
   text-decoration: none;
   color: black;
}

@media (max-width: 600px) {
  .links {
    overflow: hidden;
    width: 100%;
    
  
  
    
  }
}
.contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  /* position: relative;  */
  background-color: rgb(167, 228, 250);
  flex-wrap: wrap;
   /* height: auto;  */
   margin-top: 5%;
  gap: 2rem;  /* gap betwwn left and right box*/
  
}

.left-box {
  box-sizing: border-box;
   flex: 1 1 55%;
  max-width: 600px;
  border: 2px solid black;
  height: fit-content;
  top: 120px;
  left: 100px;
  background-color: lightblue;
  padding: 20px;
  border-radius: 10px;
  text-transform: capitalize;
  font-weight: 1100px;
  font-size: large;
}
.para{
  font-size: medium;
  font-weight: lighter;
  
}
.box-right :hover{
  scale: 1.5;
}
.box-right img{
  box-sizing: border-box;
   flex: 1 1 35%;
   max-width: 400px;
  width:  50%; 
  border: 2px solid black;
   border-radius: 10px;
   object-fit: cover;

}
@media (max-width: 768px) {
  .contain {
    flex-direction: column;
    align-items: center;
  }

  .left-box,
  .box-right img {
    width: 90%;
  }
}



